<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
             
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center mb-4">
                  <p>Update User</p>
                </div>
                <form [formGroup]="entityForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                  <!-- Username -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('username').invalid && entityForm.get('username').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Username" type="text" formControlName="username">
                      <div *ngIf="entityForm.get('username').invalid && entityForm.get('username').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('username').errors.required">Username should not be empty</span>
                        <span *ngIf="entityForm.get('username').errors.minlength">Username must be at least 5 characters long</span>
                      </div>
                    </div>
                  </div>
            
                  <hr/>
                  <!-- First Name -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input     [ngClass]="entityForm.get('firstname').invalid && entityForm.get('firstname').touched ? 'form-control is-invalid' : 'form-control'"                    placeholder="First Name" type="text" formControlName="firstname">
                      <div    *ngIf="entityForm.get('firstname').invalid && entityForm.get('firstname').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('firstname').errors.required">First Name should not be empty</span>
                        <span *ngIf="!entityForm.get('firstname').errors.required">First Name must contain only alphabetical characters</span>
                      </div>
                    </div>
                  </div>
                  <!-- Last Name -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('lastname').invalid && entityForm.get('lastname').touched ? 'form-control is-invalid' : 'form-control'"   placeholder="Last Name" type="text" formControlName="lastname">
                      <div *ngIf="entityForm.get('lastname').invalid && entityForm.get('lastname').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('lastname').errors.required">Last Name should not be empty</span>
                        <span *ngIf="!entityForm.get('firstname').errors.required">First Name must contain only alphabetical characters</span>
                      </div>
                    </div>
                  </div>
                  <!-- Telephone -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('telephone').invalid && entityForm.get('telephone').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Telephone" type="text" formControlName="telephone">
                      <div *ngIf="entityForm.get('telephone').invalid && entityForm.get('telephone').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('telephone').errors.required">Telephone should not be empty</span>
                        <span *ngIf="entityForm.get('telephone').errors.pattern">Le numéro de téléphone doit être composé de 8 chiffres.</span>
                      </div>                  </div>
                  </div>
                  <!-- Address -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('address').invalid && entityForm.get('address').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Address" type="text" formControlName="address">
                      <!-- Add error messages here if needed -->
                      <div *ngIf="entityForm.get('address').invalid && entityForm.get('address').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('address').errors.required">Address should not be empty</span>
                      </div>                  
                    </div>
                  </div>
                  <!-- CIN -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('cin').invalid && entityForm.get('cin').touched ? 'form-control is-invalid' : 'form-control'" placeholder="CIN" type="text" formControlName="cin">
                      <!-- Add error messages here if needed -->
                      <div *ngIf="entityForm.get('cin').invalid && entityForm.get('cin').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('cin').errors.required">CIN should not be empty</span>
                        <span *ngIf="entityForm.get('cin').errors.pattern">Le CIN doit être composé de 8 chiffres.</span>
                      </div>                  
                    </div>
                  </div>
                  <!-- Job -->
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                      </div>
                      <input [ngClass]="entityForm.get('job').invalid && entityForm.get('job').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Job" type="text" formControlName="job">
                      <!-- Add error messages here if needed -->
                      <div *ngIf="entityForm.get('job').invalid && entityForm.get('job').touched" class="invalid-feedback">
                        <span *ngIf="entityForm.get('job').errors.required">Job should not be empty</span>
                       </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                        </div>
                        <select class="form-control" formControlName="roleName">
                            <option value="" disabled selected>Select Role</option>
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                            <option value="INVESTOR">Investor</option>
                        </select>
                        <!-- Add error messages here if needed -->
                        <div *ngIf="entityForm.get('roleName').invalid && entityForm.get('roleName').touched" class="invalid-feedback">
                            <span *ngIf="entityForm.get('roleName').errors.minlength">Role should not be empty</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <input class="form-control" accept="image/*" type="file" (change)="onFileChange($event)"  accept="image/*">
                  <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>

                </div>
                  <!-- Privacy Policy -->
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" formControlName="agree">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span>I agree with the
                            <a href="javascript:void(0)">Privacy Policy</a>
                          </span>
                        </label>
                    
                      </div>
                    </div>
                  </div>
                  <!-- Submit Button -->
                  <div class="text-center">
                    <button type="submit" [disabled]="entityForm.invalid" class="btn btn-primary mt-4">Update user</button>
                  </div>
                </form>
                
             
  
  
  
  
  
  
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
