<section class="section section-lg section-hero section-shaped">
  <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
  </div>
  <div class="container pt-lg-md">
      <div class="row justify-content-center">
          <div class="col-lg-5">
              <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-white">
                      <div class="text-muted text-center mb-3">
                          <p>Ajouter Credit Request</p>
                      </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">


<form *ngIf="entityForm" [formGroup]="entityForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">name:</label>
      <input class="form-control" type="text" id="name" formControlName="name">
      <div *ngIf="entityForm.get('name')?.invalid && entityForm.get('name')?.touched">
        <div *ngIf="entityForm.get('name')?.errors?.['required']">name is required.</div>
        <div *ngIf="entityForm.get('name')?.errors?.['invalidName']">name must be .</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="description">description:</label>
      <input class="form-control"type="text" id="description" formControlName="description">
      <div *ngIf="entityForm.get('description')?.invalid && entityForm.get('description')?.touched">
        <div *ngIf="entityForm.get('description')?.errors?.['required']">Fund Needs is required.</div>
        <div *ngIf="entityForm.get('description')?.errors?.['insufficientDescription']">Insufficient description.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="etat"> etat:</label>
      <input class="form-control" type="text" id="etat" formControlName="etat">
      <div *ngIf="entityForm.get('etat')?.invalid && entityForm.get('etat')?.touched">
        <div *ngIf="entityForm.get('etat')?.errors?.['required']">etat is required.</div>
        <div *ngIf="entityForm.get('etat')?.errors?.['invalidEtat']">etat must be between .</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="ptype">ptype:</label>
      <input class="form-control"  type="text" id="ptype" formControlName="ptype">
      <div *ngIf="entityForm.get('ptype')?.invalid && entityForm.get('ptype')?.touched">
        <div *ngIf="entityForm.get('ptype')?.errors?.['required']">ptype is required.</div>
        <div *ngIf="entityForm.get('ptype')?.errors?.['invalidType']">ptype must be between 1000 and 5000000.</div>
      </div>
    </div>
  
  
    
  
    <div class="form-group">
      <label for="projectRequest">projectRequest:</label>
      <input class="form-control"  type="number" id="projectRequest" formControlName="projectRequest">
      <div *ngIf="entityForm.get('projectRequest')?.invalid && entityForm.get('projectRequest')?.touched">
        <div *ngIf="entityForm.get('projectRequest')?.errors?.['required']">projectRequest is required.</div>
      </div>
    </div>
  
    <button class="btn btn-2 btn-primary" type="submit" [disabled]="!entityForm.valid">Submit</button>
    <a href="http://localhost:4200/#/project" class="btn">Aller vers show projet</a>
  </form>
</div>
</div>
</div>
</div>
</div>
</section>
  


