<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign up with</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- Username -->
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('username').invalid && registerForm.get('username').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Username" type="text" formControlName="username">
                    <div *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('username').errors.required">Username should not be empty</span>
                      <span *ngIf="registerForm.get('username').errors.minlength">Username must be at least 5 characters long</span>
                    </div>
                  </div>
                </div>
                <!-- Password -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('password').invalid && registerForm.get('password').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Password" type="password" formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('password').errors.required">Password should not be empty</span>
                      <span *ngIf="registerForm.get('password').errors.minlength">Password must be at least 8 characters long</span>
                    </div>
                  </div>
                </div>
                <hr/>
                <!-- First Name -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input     [ngClass]="registerForm.get('firstname').invalid && registerForm.get('firstname').touched ? 'form-control is-invalid' : 'form-control'"                    placeholder="First Name" type="text" formControlName="firstname">
                    <div    *ngIf="registerForm.get('firstname').invalid && registerForm.get('firstname').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('firstname').errors.required">First Name should not be empty</span>
                      <span *ngIf="!registerForm.get('firstname').errors.required">First Name must contain only alphabetical characters</span>
                    </div>
                  </div>
                </div>
                <!-- Last Name -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('lastname').invalid && registerForm.get('lastname').touched ? 'form-control is-invalid' : 'form-control'"   placeholder="Last Name" type="text" formControlName="lastname">
                    <div *ngIf="registerForm.get('lastname').invalid && registerForm.get('lastname').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('lastname').errors.required">Last Name should not be empty</span>
                      <span *ngIf="!registerForm.get('firstname').errors.required">First Name must contain only alphabetical characters</span>
                    </div>
                  </div>
                </div>
                <!-- Telephone -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('telephone').invalid && registerForm.get('telephone').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Telephone" type="text" formControlName="telephone">
                    <div *ngIf="registerForm.get('telephone').invalid && registerForm.get('telephone').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('telephone').errors.required">Telephone should not be empty</span>
                      <span *ngIf="registerForm.get('telephone').errors.pattern">Le numéro de téléphone doit être composé de 8 chiffres.</span>
                    </div>                  </div>
                </div>
                <!-- Address -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('address').invalid && registerForm.get('address').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Address" type="text" formControlName="address">
                    <!-- Add error messages here if needed -->
                    <div *ngIf="registerForm.get('address').invalid && registerForm.get('address').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('address').errors.required">Address should not be empty</span>
                    </div>                  
                  </div>
                </div>
                <!-- CIN -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('cin').invalid && registerForm.get('cin').touched ? 'form-control is-invalid' : 'form-control'" placeholder="CIN" type="text" formControlName="cin">
                    <!-- Add error messages here if needed -->
                    <div *ngIf="registerForm.get('cin').invalid && registerForm.get('cin').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('cin').errors.required">CIN should not be empty</span>
                      <span *ngIf="registerForm.get('cin').errors.pattern">Le CIN doit être composé de 8 chiffres.</span>
                    </div>                  
                  </div>
                </div>
                <!-- Job -->
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                    </div>
                    <input [ngClass]="registerForm.get('job').invalid && registerForm.get('job').touched ? 'form-control is-invalid' : 'form-control'" placeholder="Job" type="text" formControlName="job">
                    <!-- Add error messages here if needed -->
                    <div *ngIf="registerForm.get('job').invalid && registerForm.get('job').touched" class="invalid-feedback">
                      <span *ngIf="registerForm.get('job').errors.required">Job should not be empty</span>
                     </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                      </div>
                      <select class="form-control" formControlName="roleName">
                          <option value="" disabled selected>Select Role</option>
                          <option value="ADMIN">Admin</option>
                          <option value="USER">User</option>
                          <option value="INVESTOR">Investor</option>
                      </select>
                      <!-- Add error messages here if needed -->
                      <div *ngIf="registerForm.get('roleName').invalid && registerForm.get('roleName').touched" class="invalid-feedback">
                          <span *ngIf="registerForm.get('roleName').errors.minlength">Role should not be empty</span>
                      </div>
                  </div>
              </div>
              
                <!-- Privacy Policy -->
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox" formControlName="agree">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                      </label>
                  
                    </div>
                  </div>
                </div>
                <!-- Submit Button -->
                <div class="text-center">
                  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
              
           








            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
