
<section class="section section-lg section-hero section-shaped">
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>

  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white">
            <div class="text-muted text-center mb-3">
              <p>Ajouter un recouvrement</p>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
<form *ngIf="entityForm" [formGroup]="entityForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="amountRecovered">Amount Recovered:</label>
      <input type="number" id="amountRecovered" formControlName="amountRecovered" class="form-control">
      <div *ngIf="entityForm.get('amountRecovered')?.invalid && entityForm.get('amountRecovered')?.touched">
        <div *ngIf="entityForm.get('amountRecovered')?.errors?.['required']">Amount recovered is required.</div>
      </div>
    </div>
    
    <div class="form-group" [ngClass]="{'focused':focus2===true}">
      <label for="date">Date: </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
        </div>
        <input class="form-control datepicker" placeholder="Select date" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" id="date" formControlName="date">
        <div *ngIf="entityForm.get('date')?.invalid && entityForm.get('date')?.touched">
          <div *ngIf="entityForm.get('date')?.errors?.['required']">Date is required.</div>
        </div>
      </div>
    </div>
 
    <div class="form-group">
      <label for="state">State:</label>
      <input class="form-control" type="text" id="state" formControlName="state">
      <div *ngIf="entityForm.get('state')?.invalid && entityForm.get('state')?.touched">
        <div *ngIf="entityForm.get('state')?.errors?.['required']">State is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="creditId">Credit ID:</label>
      <select class="form-control" id="creditId" formControlName="creditId">
        <option *ngFor="let credit of credits" [value]="credit.idCredit">{{ credit.idCredit }}</option>
      </select>
      <div *ngIf="entityForm.get('creditId')?.invalid && entityForm.get('creditId')?.touched">
        <div *ngIf="entityForm.get('creditId')?.errors?.['required']">Credit is required.</div>
      </div>
    </div>
  
    <button type="submit" class="btn btn-1 btn-primary" [disabled]="!entityForm.valid">Submit</button>
  </form>
</div>
</div>
</div>
</div>
</div>
</section>